# https://gist.github.com/jstnlvns/ebaa046fae16543cc9efc7f24bcd0e31#
.DS_store
.Home/
Rajan\ Object-Oriented\ Numerical\ Methods\ via\ C++.pdf
.Test/
**/bin
**/obj
*.o
# ProjectileMotion/*.pdf
**/__pycache__
